.my_presentation_cont .card {
	-webkit-transition: -webkit-transform .15s ease-out;
	transition: all .15s ease-out;
	transition: all .15s ease-out,-webkit-transform .15s ease-out;
	border-radius: 5px;
}

.my_presentation_cont .card:hover {
	transform: translateY(-6px);
    box-shadow: 0 3px 30px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.1);
}

.my_presentation_cont .card-img-top {
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar {
	height: 90px !important;
}

.slide_list .card {
	margin-bottom: 20px;
}

.slide_list  {
	height: 600px;
	padding-left: 7px;
}

.my_presentation_cont, .add_template {
	opacity: 0;
	-webkit-transition: -webkit-transform .45s ease-out;
	transition: all .45s ease-out;
	transition: all .45s ease-out,-webkit-transform .45s ease-out;
}

.slide_card.active img {
	-webkit-box-shadow: 0 8px 14px 0 rgb(92, 175, 236, 0.66) !important;
    box-shadow: 0 8px 14px 0 rgba(92, 175, 236, 0.66) !important;
    -moz-box-shadow: 0 8px 14px 0 rgba(92, 175, 236, 0.66) !important;
}

.slide_card img {
	border-radius: 5px;
}

.slide_card img:hover {
	-webkit-box-shadow: 0 8px 14px 0 rgb(92, 175, 236, 0.66);
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 8px 14px 0 rgba(92, 175, 236, 0.66);
    -webkit-transition: -webkit-transform .45s ease-out;
    transition: all .15s ease-out;
    transition: all .15s ease-out,-webkit-transform .15s ease-out;
}



