body {
    font-family: "Raleway", sans-serif;
}

a:focus, a:active, a:hover {
    outline: none;
    text-decoration: none;
}

.section_hero_block {
    color: #9DA0A5;
    font-family: "Raleway", sans-serif;
}

.inline_class {
    display: inline-block;
    position: relative;
}

.nav_container {
    height: 80px;
    position: fixed;
    padding: 20px 0;
}

.header_mnu div {
    margin-left: 15px;
}

.header_logo_slider {
    height: 100%;
}

.logo_container {
    display: inline-block;
    float: left;
    height: 100%;
}

.header_signIn_container, .header_signUp_container {
    padding: 9px 20px;
    border-radius: 6px;
}

.header_signUp_container {
    color: #fff;
    border: solid 1px #00ADEF;
    background-color: #00ADEF;
    cursor: pointer;
}

.header_signUp_container a {
    color: #fff;
}

.header_signIn_container {
    color: white;
    border: solid 1px #9DA0A5;
}

.header_signIn_container a {
    color: #000;
}

.header_signIn_container a:hover {
    color: #fff;
    text-decoration: none;
}

.header_signIn_container a:hover .header_signIn_container {
    background-color: #13ce66;
}

.header_signIn_container:hover {
    color: white;
    cursor: pointer;
    background-color: #00ADEF;
    border-color: rgba(157, 160, 165, 0);
}

.header_signIn_container:hover a {
    color: #fff;
    text-decoration: none;
}

.header_signUp_container:hover a#slider_start {
    color: #fff;
    text-decoration: none;
}

.logo_container svg path {
    fill: #00ADEF;
}

.header_mnu {
    float: right;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.header_explore_container a {
    color: #9DA0A5;
}

.header_explore_container:hover a, .header_explore_container a:hover a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #273444;
}

footer path {
    fill: #fff;
}

.section_footer {
    padding: 80px 0;
    min-height: 200px;
}

#hero_img {
    width: 100%;
}

.hero_container {
    padding: 80px 0;
}

.hero_container .header_signUp_container {
    font-size: 20px;
    display: inline-block;
}

.hero_text_block {
    font-size: 30px;
    color: black;
    padding-bottom: 10px;
    font-weight: bold;
}

.left_side_hero {
    padding-top: 7em;
}

.social_footer {
    color: white;
}

.hero_logo_container {
    display: none;
}

.left_side_hero .header_signUp_container {
    background: none;
    border: none;
}

.slider_form {
    display: flex;
    width: 100%;
}

#email_slider_form {
    padding: 9px 20px;
    border-radius: 6px;
    border: solid 1px black;
    display: inline-block;
    max-width: 60%;
    float: left;
    color: black;
    max-height: 50px;
}

#slider_start {
    padding: 9px 20px;
    border-radius: 6px;
    border: solid 1px transparent;
    display: inline-block;
    width: auto;
    color: white;
    background-color: #00ADEF;
    max-height: 50px;
}

#email_form_response {
    color: red;
    margin-top: 5px;
}

#slider_start:hover {
    background-color: #13CE66;
}

#submit_slider_form:focus, #submit_slider_form:active {
    outline: none;
}

.sign_forms {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.35);
    font-family: "Raleway", sans-serif;
    color: white;
}

::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

.form_section {
    background: #00ADEF;
}

.sign_btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    color: white;
    margin: 10px 0;
}

.sign_btn:hover {
    background: #fff;
    color: #00ADEF;
    border-color: white;
}

.or_cont {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
    margin: 40px 0 30px 0;
}

.or_text {
    position: absolute;
    background: #00ADEF;
    display: block;
    left: 0;
    right: 0;
    width: 60px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-top: -15px;
}

.sign_up_link {
    text-align: center;
    color: White;
    text-decoration: underline;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 40px;
}

.sign_form_logo svg path {
    fill: white;
}

.logo_container img {
    height: 100%;
}

.hero_logo_container {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    position: relative;
    display: block;
}

.form_cont {
    margin-top: 30%;
    margin-bottom: 50%;
}

.sign_up_link a {
    color: white;
}

.start_btn_img {
    width: 100%;
}

.start_btn {
    width: 250px;
    display: block;
    margin: 20px auto;
    border: none;
    background: none;
}

.pres_menu_cont {
    padding: 70px 40px;
    position: fixed;
    background-color: #273444;
    height: 100%;
    left: -250px;
    top: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    width: 250px;
    z-index: 99;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.left_mnu_btns {
    text-align: left;
    padding: 10px 0 10px 5px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    width: 100%;
    font-size: 18px;
    display: block;
    color: white;
}

.left_mnu_btns:hover {
    background: white;
    color: #4F4F4F;
}

.underlined_mnu_btns {
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

#close_mnu {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    opacity: 0.5;
}

.start_test_cont {
    text-align: center;
    color: #4F4F4F;
    margin: 30px;
    font-size: 20px;
}

.content {
    height: 100%;
}

.open_left_mnu {
    width: 30px;
    position: fixed;
    left: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 0;
    display: none;
    z-index: 90;
}

.mnu_bl {
    background: #4F4F4F;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.pres_menu_cont .logo_container {
    background: none;
    border: none;
    height: 40px;
    bottom: 40px;
    position: absolute;
    left: 40px;
    opacity: 0.5;
}

button:focus, button:active, a:focus, a:active {
    outline: 0;
}

button {
    border: none;
    padding: 0;
    background: none;
}

.pres_content_box {
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background: rgba(0, 173, 239, 0.1);
    min-height: 400px;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
    resize: none;
}

.templates_block {
    border: 2px solid #00ADEF;
    border-radius: 5px;
    height: 400px;
    margin-bottom: 40px;
    padding: 9px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    overflow: auto;
}

.template_img_cont {
    height: auto;
    width: 100%;
    background: grey;
    margin-bottom: 5px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    display: block;
    position: relative;
    box-shadow: 0 14px 50px rgba(14,21,47,.12), 0 8px 20px rgba(14,21,47,.12);
    border-radius: 10px;
}

.template_cont:hover {
    transform: translateY(-6px);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: all .15s ease-out;
    transition: all .15s ease-out,-webkit-transform .15s ease-out;
}

.template_img_cont.active .chosen_block {
    display: block;
}

.chosen_block {
        display: none;
    position: absolute;
    height: 100%;
    width: inherit;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 20% 20px 20px 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    background: rgba(92, 175, 236, 0.79);
    border-radius: 10px;
}

.save_div {
    display: block;
    position: relative;
    margin: auto;
    max-width: 200px;
    text-align: center;
    margin-top: 40px;
}

.template_img_cont:focus, .template_img_cont:active {
    background: green;
}

.template_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.template_cont {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.template_name_cont {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.submit_content_btn {
    background: #00ADEF;
    border-radius: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 10px 40px;
    border: none;
    display: block;
    margin: auto;
    font-size: 19px;
}

.start_pres_cont {
    margin: 200px 0;
}

.insert_text_class {
    margin: 50px 0;
}

.ios_img {
    width: 100%;
}

.download_ios_btn {
    display: inline-block;
    border: none;
}

.success {
    color: #13CE66;
}

.error {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: bold;
    background: #ff3336;
    padding: 8px 20px;
    display: block;
    width: auto;
    position: relative;
    border-radius: 6px;
}

.reset_pass_h1 {
    font-family: "Raleway";
    font-size: 30px;
    color: white;
    margin-top: 30px;
    font-weight: bold;
}

.reset_pass_h2 {
    font-family: "Raleway";
    font-size: 16px;
    color: white;
    font-weight: 400;
}

#sign_in_link_2 {
  display: none;
  color: white;
  font-size: 18px;
  font-family: "Raleway";
  text-decoration: underline;
}

#response {
  display: none;
}

.dark_header_section {
  background: #273444;
  padding: 20px;
}

.d_header_item {
  display: inline-block;
  height: 50px;
  margin-left: 20px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.img_header {
  height: 100%;
}

.header_text {
  margin: auto;
  display: block;
}

.d_header_item a {
  color: white;
}

.d_header_item a:hover {
  color: white;
  opacity: 0.9;
}

.d_header_item.text{
  height: auto;
}

.right  {
  float: right;
}

.profile_head_set_btn {
  padding: 10px 20px;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 16px;
  background: #496180;
}

.profile_head_set_btn:hover {
  background: #FF3336;
}

.profile_head_set_block {
  position: absolute;
  display: none;
  bottom: -10px;
  right: 0;
}

#search_topic {
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.select_topic_btn, .select_section_btn {
    background: white;
    margin: 10px 0;
    -webkit-transition: opacity .15s ease-out,box-shadow .15s ease-out,-webkit-transform .15s ease-out;
    transition: opacity .15s ease-out,box-shadow .15s ease-out,transform .15s ease-out;
    transition: opacity .15s ease-out,box-shadow .15s ease-out,transform .15s ease-out,-webkit-transform .15s ease-out;
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: all .15s ease-out;
    transition: all .15s ease-out,-webkit-transform .15s ease-out;
}

.select_topic_btn {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
    white-space: normal !important;
}

.select_section_btn {
    width: auto;
    margin: 20px 10px;
    padding: 10px 20px !important;
    font-weight: normal !important;
}
.select_section_btn:focus, .select_section_btn:active, .select_topic_btn:focus, .select_topic_btn:active {
    color: #333 !important;
}
/*#00ADEF*/

.select_topic_btn:hover, .select_section_btn:hover {
    background: #00ADEF; 
    transform: translateY(-6px);
}

.wiki_section h2 {
    font-size: 24px;
}

.topic_section_div {
    height: auto;
        -webkit-transition: opacity .15s ease-out,box-shadow .15s ease-out,-webkit-transform .15s ease-out;
    transition: opacity .15s ease-out,box-shadow .15s ease-out,transform .15s ease-out;
    transition: opacity .15s ease-out,box-shadow .15s ease-out,transform .15s ease-out,-webkit-transform .15s ease-out;
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: all .15s ease-out;
    transition: all .15s ease-out,-webkit-transform .15s ease-out;
        background: #5cafec12;
    padding: 20px;
    border-radius: 10px;
    -webkit-transition: height .5s, padding .5s;
  transition: height .5s, padding .5s;
}

.a_header {
    color: white !important;
}

.a_header:hover {
    color: #00ADEF !important;
}

.select_section_btn.selected {
    background: #00ADEF;
    color: white !important;
}

#search_input {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section_nav {
    color: white;
    margin-bottom: 50px;
    background: #273444;
    padding: 5px;
}

#language {
    background: #fbf9f9;
    padding: 10px;
    position: relative;
    width: 150px;
    height: 42px;
    margin-bottom: 40px;
    top: -19px;
    margin-left: 10px;
}

#download_file {
        padding: 20px 25px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px;
    display: block;
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
        font-weight: bold;
}

#download_file:hover {
    color: white;
    background: #00ADEF;
}
