/* monitors and laptops */
@media screen and (min-width: 1240px) {
  .hero_text_block {
    padding-top: 40px;
    font-size: 40px; }

  .section_footer {
    min-height: 200px;
     }

  .left_side_hero .header_signUp_container {
    width: 100%;
    padding: 0; } }
/* tablet */
/* mobile */

@media screen and (max-width: 480px) {

  .open_left_mnu {
    display: block;
  }

  .dark_header_section {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .template_img_cont {
    height: auto;
    width: 100%; }

  .template_cont {
    height: 130px; }

  .templates_block {
    justify-content: space-around; }

  .chosen_block {
    font-size: 14px;
    padding: 7px; }

  #ios_img {
    margin: 10px; } 

  .wiki_section h1 {
    font-size: 25px;
    margin-top: 70px;
  }

  #search_input {
    margin-bottom: 10px;
  }
  #language {
    margin-left: 0;
    margin-bottom: 0;
  }
  .wiki_section h2 {
    padding: 0 10px;
    font-size: 18px;
  }
  #sections_container {
    padding: 0;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero_container {
    padding: 7px 0 30px; }

  .left_side_hero {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px; }

  .hero_text_container {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px; }

  .hero_text_block {
    font-weight: normal; }

  .logo_footer_container {
    text-align: center;
    margin: 10% auto;
    opacity: 0.2;
    width: 60%; }

  .hero_container .header_signUp_container {
    font-size: 20px;
    width: 80%;
    height: 80px; }

  .section_nav, .all_rights {
    display: none; }

  .social_footer {
    text-align: center;
    margin-top: -30px;
    opacity: 0.4; }

  .form_cont .hero_logo_container {
    display: block;
    margin: 10% auto 10% auto;
    width: 50%; }

  .left_side_hero {
    padding-top: 0; }

  #email_slider_form {
    max-height: 100px; }

  #submit_slider_form {
    max-height: 100px; } }
/* iPhone 2G-4S in landscape */
/* iPhone 2G-4S in portrait */

/*# sourceMappingURL=media.css.map */

@media screen and (min-width: 480px) {



}