<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fonts</title>
</head>
<body>

<a href="/admin/fonts/add">Add font</a><br>

<table style="border-collapse:collapse; width:100%" border="1">

    <tr>
        <th>Name</th>
    </tr>
    {% for font in fonts %}
    <tr>
        <td>{{ font.name}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>