<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit template</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


    <script type="application/javascript">
        $(document).ready(function () {
            $(":file").change(function() {
                var inputID = this.id;
                var checkBoxID = inputID + "_changed";
                $('#' + checkBoxID).prop('checked', true);
            });
        });
    </script>
</head>
<body>

<a href="{{ '/admin/templates/slides?template_id={0}'.format(template.key.id()) }}">Edit slides</a>

<form method="post" enctype="multipart/form-data">

    <label>
        Name<br>
        <input type="text" name="name" value="{{ template.name }}"><br>
    </label><br>

    <label>
        Description<br>
        <input maxlength="230" type="text" name="template_description" value="{{ template.template_description }}"><br>
    </label><br>

    <label>
        Template file<br>
        <input type="file" name="template_file" id="template_file"><br>
        <input type="checkbox" name="template_file_changed" id="template_file_changed">(Save changes)<br>
    </label><br>


    <label>
        Fonts<br>
        <input type="text" name="fonts" value="{{ template.fonts_str }}"><br>
    </label><br>


    <label>
        Slide symbols<br>
        <input type="number" name="slide_symbols" value="{{ template.slide_symbols }}"><br>
    </label><br>
    <label>
        Heading symbols<br>
        <input type="number" name="heading_symbols" value="{{ template.heading_symbols }}"><br>
    </label><br>

    <label>
        Title symbols<br>
        <input type="number" name="title_symbols" value="{{ template.title_symbols }}"><br>
    </label><br>

    <label>
        Subtitle symbols<br>
        <input type="number" name="subtitle_symbols" value="{{ template.subtitle_symbols }}"><br>
    </label><br>

    <label>
        Hero symbols<br>
        <input type="number" name="hero_symbols" value="{{ template.hero_symbols }}"><br>
    </label><br>

    <label>
        Heading phrase symbols<br>
        <input type="number" name="heading_phrase_symbols" value="{{ template.heading_phrase_symbols }}"><br>
    </label><br>

    <label>
        Image text symbols<br>
        <input type="number" name="image_with_text_symbols" value="{{ template.image_with_text_symbols }}"><br>
    </label><br>

    <label>
        Cover image<br>
        <input type="file" name="cover_img" id="cover_img"><br>
        <input type="checkbox" name="cover_img_changed" id="cover_img_changed">(Save changes)<br>
    </label><br>

    <label>
        Preview title image<br>
        <input type="file" name="preview_title_img" id="preview_title_img"><br>
        <input type="checkbox" name="preview_title_img_changed" id="preview_title_img_changed">(Save changes)<br>
    </label><br>
    <label>
        Preview text image<br>
        <input type="file" name="preview_regular_img" id="preview_regular_img"><br>
        <input type="checkbox" name="preview_regular_img_changed" id="preview_regular_img_changed">(Save changes)<br>
    </label><br>
    <label>
        Preview hero image<br>
        <input type="file" name="preview_hero_img" id="preview_hero_img"><br>
        <input type="checkbox" name="preview_hero_img_changed" id="preview_hero_img_changed">(Save changes)<br>
    </label><br>
    <label>
        Preview picture image<br>
        <input type="file" name="preview_image_img" id="preview_image_img"><br>
        <input type="checkbox" name="preview_image_img_changed" id="preview_image_img_changed">(Save changes)<br>
    </label><br>
    <label>
        Preview picture and text image<br>
        <input type="file" name="preview_image_and_text_img" id="preview_image_and_text_img"><br>
        <input type="checkbox" name="preview_image_and_text_img_changed" id="preview_image_and_text_img_changed">(Save changes)<br>
    </label><br>

    <label>
        Preview end image<br>
        <input type="file" name="preview_end_img" id="preview_end_img"><br>
        <input type="checkbox" name="preview_end_img_changed" id="preview_end_img_changed">(Save changes)<br>
    </label><br>

    <input type="hidden" value="{{ template.key.id() }}" name="template_id">
    <input type="submit" value="Save">
</form>
</body>
</html>