<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/admin/templates/add">Add template</a><br>

<table style="border-collapse:collapse; width:100%" border="1">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Slide symbols</th>
        <th>Heading symbols</th>
        <th>Title symbols</th>
        <th>Subtitle symbols</th>
        <th>Heading phrase symbols</th>
        <th>Image text symbols</th>

    </tr>
    {% for template in templates %}
    <tr>
        <td><a href="{{ '/admin/templates/edit?template_id={0}'.format(template.key.id()) }}">{{ template.name }}</a>
        </td>
        <td>{{ template.template_description }}</td>
        <td>{{ template.slide_symbols }}</td>
        <td>{{ template.heading_symbols }}</td>
        <td>{{ template.title_symbols }}</td>
        <td>{{ template.subtitle_symbols }}</td>
        <td>{{ template.heading_phrase_symbols }}</td>
        <td>{{ template.image_with_text_symbols }}</td>
        <td>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{ template.key.id() }}" name="template_id">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>
</body>
</html>