<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit slides</title>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    <div>
        <h1>Title slide</h1>
        <div>
            <h2>Title</h2>
            <label>Font<br>
                <select name="title_title_font">
                    {% for font in fonts %}
                        {% if template.title_slide_props and font.key.id() == template.title_slide_props.title_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="title_title_size" value="{{template.title_slide_props.title_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="title_title_color" value="{{template.title_slide_props.title_color}}">
            </label><br>
        </div>
        <div>
            <h2>Subtitle</h2>
            <label>Font<br>
                <select name="title_subtitle_font">
                    {% for font in fonts %}
                        {% if template.title_slide_props and font.key.id() == template.title_slide_props.text_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="title_subtitle_size" value="{{template.title_slide_props.text_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="title_subtitle_color" value="{{template.title_slide_props.text_color}}">
            </label><br>
        </div>
    </div>
    <div>
        <h1>Text slide</h1>
        <div>
            <h2>Title</h2>
            <label>Font<br>
                <select name="text_title_font">
                    {% for font in fonts %}
                        {% if template.text_slide_props and font.key.id() == template.text_slide_props.title_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="text_title_size" value="{{template.text_slide_props.title_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="text_title_color" value="{{template.text_slide_props.title_color}}">
            </label><br>
        </div>
        <div>
            <h2>Text</h2>
            <label>Font<br>
                <select name="text_text_font">
                    {% for font in fonts %}
                        {% if template.text_slide_props and font.key.id() == template.text_slide_props.text_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="text_text_size" value="{{template.text_slide_props.text_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="text_text_color" value="{{template.text_slide_props.text_color}}">
            </label><br>
        </div>
    </div>
    <div>
        <h1>Hero slide</h1>
        <div>
            <h2>Text</h2>
            <label>Font<br>
                <select name="hero_text_font">
                    {% for font in fonts %}
                        {% if template.hero_slide_props and font.key.id() == template.hero_slide_props.text_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="hero_text_size" value="{{template.hero_slide_props.text_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="hero_text_color" value="{{template.hero_slide_props.text_color}}">
            </label><br>
        </div>
    </div>
    <div>
        <h1>Text and picture slide</h1>
        <div>
            <h2>Title</h2>
            <label>Font<br>
                <select name="text_and_picture_title_font">
                    {% for font in fonts %}
                        {% if template.text_and_picture_slide_props and font.key.id() == template.text_and_picture_slide_props.title_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="text_and_picture_title_size"
                       value="{{template.text_and_picture_slide_props.title_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="text_and_picture_title_color"
                       value="{{template.text_and_picture_slide_props.title_color}}">
            </label><br>
        </div>
        <div>
            <h2>Text</h2>
            <label>Font<br>
                <select name="text_and_picture_text_font">
                    {% for font in fonts %}
                        {% if template.text_and_picture_slide_props and font.key.id() == template.text_and_picture_slide_props.text_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="text_and_picture_text_size"
                       value="{{template.text_and_picture_slide_props.text_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="text_and_picture_text_color"
                       value="{{template.text_and_picture_slide_props.text_color}}">
            </label><br>
        </div>
    </div>
    <div>
        <h1>Picture slide</h1>
        <div>
            <h2>Title</h2>
            <label>Font<br>
                <select name="picture_title_font">
                    {% for font in fonts %}
                        {% if template.picture_slide_props and font.key.id() == template.picture_slide_props.title_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="picture_title_size" value="{{template.picture_slide_props.title_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="picture_title_color" value="{{template.picture_slide_props.title_color}}">
            </label><br>
        </div>
    </div>
    <div>
        <h1>End slide</h1>
        <div>
            <h2>Title</h2>
            <label>Font<br>
                <select name="end_title_font">
                    {% for font in fonts %}
                        {% if template.end_slide_props and font.key.id() == template.end_slide_props.title_font.id() %}
                            <option value="{{font.key.id()}}" selected>{{font.name}}</option>
                        {% else %}
                            <option value="{{font.key.id()}}">{{font.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label><br>

            <label>Size<br>
                <input type="number" name="end_title_size" value="{{template.end_slide_props.title_size}}">
            </label><br>

            <label>Color<br>
                <input type="text" name="end_title_color" value="{{template.end_slide_props.title_color}}">
            </label><br>
        </div>
    </div>


    <input type="hidden" value="{{template.key.id()}}" name="template_id">
    <input type="submit" value="Save">
</form>

</body>
</html>