<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/homepage/head.html' %}
</head>
<body>
{% include '/homepage/header_dark.html' %}

<div class="content">
<!--Сюда ты будешь записывать то, что будет отдавать ajax-->
{% include '/presentation/content/create_presentation.html' %}
</div>

{% include '/footer.html' %}
{% include '/javascript.html' %}
<script src="/static/homepage/pages/presentation.js"></script>
</body>
</html>
