<button class="open_left_mnu"><div class="mnu_bl"></div><div class="mnu_bl"></div><div class="mnu_bl"></div></button>
<div class="pres_menu_cont">
    <div class="close_mnu"><button id="close_mnu">x</button></div>
    <div class="user_name"></div>
    <button id="home_mnu" class=" left_mnu_btns underlined_mnu_btns">Home</button>
    <a href="/presentation/" id="add_text_mnu" class=" left_mnu_btns underlined_mnu_btns">Get started</a>
    {% if user %}
    <a href="/logout" class=" left_mnu_btns underlined_mnu_btns">Logout</a>
    {% else %}
    <a href="/sign_in" class=" left_mnu_btns underlined_mnu_btns">Sign in</a>
    {% endif %}
    <!--<button id="settings_mnu" class=" left_mnu_btns underlined_mnu_btns">Settings</button>-->
    <!--<button id="info_mnu" class=" left_mnu_btns">Info</button>-->
    <a href="http://slider.pw" class="logo_container">
        <img id="hero_img sign_form_logo" src="/static/images/logo_white.svg" alt="">
    </a>
</div>