

<script src="/static/src/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/static/src/js/vendor/perfect-scrollbar.min.js"></script>
<script src="/static/src/js/vendor/mousetrap.min.js"></script>
<script src="/static/src/js/dore.script.js"></script>
<script src="/static/homepage/libs/jquery/jquery.listen.js"></script>

<script src="/static/src/js/scripts.single.theme.js"></script>

<script src="/static/homepage/pages/dashboard.js"></script>
