<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/src/font/iconsmind/style.css" />
<link rel="stylesheet" href="/static/src/font/simple-line-icons/css/simple-line-icons.css" />

<link rel="stylesheet" href="/static/src/css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="/static/src/css/vendor/perfect-scrollbar.css" />
<link rel="stylesheet" href="/static/src/css/main.css" />
<link rel="stylesheet" href="/static/src/css/dore.light.blue.min.css" />

<link rel="stylesheet" href="/static/homepage/css/dashboard.css" />
<script src="/static/src/js/vendor/jquery-3.3.1.min.js"></script>

