<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="yandex-verification" content="8e904e2c7f5c6ad0" />
<title>Slider</title>
<link rel='stylesheet' href='/static/homepage/css/main.css' type='text/css'/>
<link rel='stylesheet' href='/static/homepage/css/media.css' type='text/css'/>
<link rel="stylesheet" href="/static/homepage/libs/bootstrap/bootstrap-grid.min.css"/>
<link rel="stylesheet" href="/static/homepage/libs/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/homepage/libs/bootstrap/css/bootstrap-glyphicons.css"/>
<script src=" https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/homepage/libs/animate/animate.min.css"/>