<section class="dark_header_section">
	
	<div class="container-fluid">
		
		<div class="col-md-12">
			<div class="d_header_item">
				<a href="/"><img class="img_header" src="/static/images/white_icon.svg" alt=""></a>
			</div>
			<div class="d_header_item text">
				<a href="/presentation/" class="header_text">
					Get started
				</a>
			</div>
			<div class="d_header_item text">
				<a href="/" class="header_text">
					Learn
				</a>
			</div>
			{% if user %}
			<div class="d_header_item text right">
				<button id="profile_btn" class="header_text">
					<button id="user_name">
						{{ user.last_name }} {{ user.name }}
					</button>
				</button>
				<div class="profile_head_set_block">
					<a href='/logout' class="profile_head_set_btn">
						Logout
					</a>
				</div>
			</div>
			{% endif %}

		</div>

	</div>

</section>
{% include '/presentation/menu.html' %}