<section class="section_nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 nav_container">
                <div class="logo_container">
                    <img id="hero_img sign_form_logo" src="/static/images/logo.svg" alt="">
                </div>
                <div class="header_mnu">
                {% if user %}
                    <div class="menu_btn " ><button id="user_name" class="header_signIn_container inline_class">{{ user.last_name }} {{ user.name }}</button></div>
                    <div class="profile_head_set_block">
                    <a href='/logout' class="profile_head_set_btn">
                        Logout
                    </a>
                </div>
                {% else %}
                    <a class="menu_btn a_header" href="/presentation/">Add your text</a>
                    <a class="menu_btn" href="/sign_in"><div class="header_signIn_container inline_class">Sign in</div></a>
                    <a class="menu_btn " href="/sign_up"><div class="header_signUp_container inline_class">Sign up</div></a>
                {% endif %}
                    
                    <!-- class="header_explore_container inline_class" -->
                    <!-- <div class="header_explore_container inline_class"><a href="">Explore</a></div>
                    <div class="header_signIn_container inline_class"><a class="header_signIn_btn" href="">Sign In</a>
                    </div>
                    <div class="header_signUp_container inline_class" title="Get a free account"><a
                            class="header_signUp_btn" href="">Sign Up</a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% include '/presentation/menu.html' %}

<div class="row">
    <div class="col-md-6" >
        <div style="background: #F2F2F2;border-radius: 8px;height: 1100.91px; margin-bottom: 20px;">
        <img src="https://artrange.ru/wp-content/uploads/2019/02/Kurs-po-prezentatsiyam.png" width="100%" height="auto">
        <div><a onclick="open_payment_from(5900,'Онлайн курс по бизнес-презентациям  «WOW! эффект прямо с проектора»');" class="button" style="text-align: center;padding: 1em 2.2em;margin-top: 0;width: 200px;margin-left: auto;margin-right: auto;display: block;font-size: 18px;line-height: 1;" target="blank"> Купить </a>
        </div>
        <p class="complex_descr" style="
    padding: 10px 40px;     margin-top: 0;
">   <span id="cost_0" class="complex_discount" style="
    color: #000000;
    font-family: &quot;GothaProBol&quot;;
    font-size: 28px;
    padding: 10px 8px;
    display: block;
    text-align: center;
    height: auto;
    margin-top: 5px;
">Стоимость: 5900 руб.</span></p>
        <div style="padding: 0 50px 20px;">
            <p style="color: #888;font-family: 'GothaProReg';font-size: 18px;">Стоимость курса с 2 марта - 8000руб.</p>
            <p style="color: #888;font-family: 'GothaProReg';font-size: 18px;">Включено в пакет:</p>
            <ul style="color: #888;font-family: 'GothaProReg';font-size: 16px;">
            <li>Онлайн участие в 10 блоках курса по вторникам и пятницам.</li>
            <li>Доступ к записям для офлайн просмотра в удобное время.</li> 
            <li>Получение домашних заданий по каждому блоку.</li>
            <li>Получение Artrange баллов за успешно выполненные задания, которые можно конвертировать в бонусы.</li>
            <li>Обратная связь по Вашей презентации от Арт-директора Artrange Digital - Григория Попова.</li> 
            <li>Доступ к сообществу "Бизнес-презентаций" и общение с участниками.</li>  

            </ul>
        </div>
        </div>
    </div>
    <div class="col-md-6" >
        <div style="background: #262626;border-radius: 8px;height: 1100.91px; margin-bottom: 20px;">
        <img src="https://artrange.ru/wp-content/uploads/2019/02/Kurs-po-prezentatsiyam-2.png" width="100%" height="auto">
        <div><a onclick="open_payment_from(1900,'Записи курс по бизнес-презентациям  «WOW! эффект прямо с проектора»');" class="button" style="text-align: center;padding: 1em 2.2em;margin-top: 0;width: 200px;margin-left: auto;margin-right: auto;display: block;font-size: 18px;line-height: 1;" target="blank"> Купить </a>
        </div>
        <p class="complex_descr" style="
    padding: 10px 40px;     margin-top: 0;
">   <span id="cost_0" class="complex_discount" style="
    color: #FFCC00;
    font-family: &quot;GothaProBol&quot;;
    font-size: 28px;
    padding: 10px 8px;
    display: block;
    text-align: center;
    height: auto;
    margin-top: 5px;
">Стоимость: 1900 руб.</span></p>
        <div style="padding: 0 50px 20px;">
            <p style="color: #ffffffa3;font-family: 'GothaProReg';font-size: 18px;">Стоимость курса с 2 марта - 3000руб.</p>
            <p style="color: #ffffffa3;font-family: 'GothaProReg';font-size: 18px;">Включено в пакет:</p>
            <ul style="color: #ffffffa3;font-family: 'GothaProReg';font-size: 16px;">
            <li>Записи вебинаров по 10 блокам курса.</li>
            <li>Более 300 внутренних шаблонных слайдов от Artrange Digital.</li>
            <li>Внешние инструменты для повышения эффективности презентаций.</li>
            <li>Поддержка от специалистов Artrange.</li>
            </ul>
        </div>
        </div>
    </div>
</div>