<!DOCTYPE HTML>

<html>
<head>
    {% include '/homepage/head.html' %}
</head>
<body>


{% include '/homepage/header.html' %}

<section class="wiki_section">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">
            <h1 style="margin-bottom: 50px;">Create presentation in PowerPoint format on any topic - just enter your subject below to search</h1>
            <input id="search_input" class="form-control mr-sm-2" type="text" placeholder="Search for a presentation topic" aria-label="Search">
            <br>
            <span style="top: -20px;position: relative;">Select your language</span>
            <select id="language">
                <option selected="selected" value="en">English</option>
                <option value="de">German</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="ru">Russian</option>
                <option value="pt">Portuguese</option>
                <option value="ar">Arabic</option>
                <option value="zh">Chinese</option>
            </select>
            <button style="margin-bottom: 40px;" id="search_topic" class="btn btn-outline-success my-2 my-sm-0 header_signUp_container" type="submit">Search</button>
            <br>
            

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12" style="
    text-align: center;
">
<div id="topic_sections" class="topic_section_div col-md-12" style="padding: 30px 0;">
                Search a new topiс to create a presentation
    
            </div></div>
    </div>
</section>

<section class="section_hero_block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 hero_container">
                <div class="col-md-4 left_side_hero">
                    <div class="hero_text_container">
                        <div class="hero_text_block">
                            <div class="hero_logo_container visible-sm">
                                <img id="hero_img" src="/static/homepage/images/logo.png" alt="">
                            </div>
                            Create fast, simple and very beautifull presentations!
                        </div>
                        <div class="header_signUp_container" title="Get a free account">

                            <a href="http://slider.pw/presentation/" id="slider_start" required>Start now!</a>
                             <a target="_blank" class="download_ios_btn" href="https://itunes.apple.com/ru/app/slider-presentations/id1094192266?l=en">
                                <img id="ios_img" src="/static/homepage/images/download_ios.svg" alt="">
                            </a>

                        </div>
                </div>
                </div>
                <div class="col-md-8 ">
                    <div class="hero_img_container">
                        <img id="hero_img" src="/static/homepage/images/hero_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section_description">
    <div class="container-fluid">
        <div class="col-md-7"></div>
        <div class="col-md-5"></div>
    </div>
</section>
<section class="section_mobile_apps">
    <div class="container-fluid">
        <div class="col-md-6">

        </div>
        <div class="col-md-6"></div>
    </div>
</section>
<section class="section_justdoit">
    <div class="container-fluid">
        <div class="col-md-12"></div>
    </div>
</section>

{% include '/footer.html' %}

{% include '/javascript.html' %}

<script src="/static/homepage/pages/homepage.js"></script>
<script src="/static/homepage/pages/wiki_generate.js"></script>

</body>
</html>