<footer>
    <section class="section_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-2">
                        <div class="logo_footer_container">
                            <svg class="header_logo_slider" version="1.1" id="Layer_1"  xmlns:i="&ns_ai;"
								 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 352.1 118.3"
								 enable-background="new 0 0 352.1 118.3" xml:space="preserve">
								<switch>
									<foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
										<i:pgfRef  xlink:href="#adobe_illustrator_pgf">
										</i:pgfRef>
									</foreignObject>
									<g i:extraneous="self">
										<g>
											<path fill="#00ADEF" d="M118.5,24.7c0-13.9-11.3-25.2-25.2-25.2H25.7C11.8-0.5,0.5,10.8,0.5,24.7v67.6
												c0,13.9,11.3,25.2,25.2,25.2h67.6c13.9,0,25.2-11.3,25.2-25.2V24.7z M59,103.3c-11.5,0-24.8-4.9-28.9-14L41.1,76
												c4.9,6.2,12.3,9,18.3,9c5.1,0,8.1-2.6,8.1-6.6c0-12.8-35.6-11.2-35.6-38.8C31.9,26.4,42.4,15,59.4,15c11,0,19.8,3.7,25.1,9.4
												L74.1,39c-3.8-3.5-6.6-5.7-12.9-5.7c-5.4,0-8.5,2.4-8.5,6.3c0,14.2,35.6,10.7,35.6,38.5C88.2,93.1,75.4,103.3,59,103.3z"></path>
											<g class='footer_logo_text'>
												<path fill="#00ADEF" d="M130,18.7h14v64.5c0,6.2,1.5,8.9,4.8,8.9c2.2,0,4-1,5.7-2.2l2.9,10.7c-3.2,2.6-7.9,4.6-14.5,4.6
													c-8.4,0-12.9-5.1-12.9-16.3V18.7z"></path>
												<path fill="#00ADEF" d="M172.4,21.3c4,0,8.1,3.2,8.1,8.2c0,5.6-4,8.8-8.1,8.8c-4.8,0-8.8-3.2-8.8-8.8
													C163.6,24.5,167.6,21.3,172.4,21.3z M165,49.2h14v54.9h-14V49.2z"></path>
												<path fill="#00ADEF" d="M231.4,98.4c-3.7,3.9-8.7,6.7-15.7,6.7c-15.7,0-25.9-11.1-25.9-27.8c0-17.3,12.4-29.4,30.1-29.4
													c4.9,0,8.4,0.9,11.5,2.7V18.7h14v85.4h-14V98.4z M231.4,86.4V64.4c-3.5-2.2-7.1-3.3-10.9-3.3c-8.3,0-15.7,5.6-15.7,15.7
													c0,9.8,6.3,15.2,13.8,15.2C223.7,92,228.2,89.6,231.4,86.4z"></path>
												<path fill="#00ADEF" d="M304.6,98.6c-5.5,4.6-13.3,6.8-21,6.8c-17.7,0-29.5-11.5-29.5-28.8c0-16,11-28.8,29-28.8
													c14.2,0,26,10.1,26,25.5c0,3.4-0.2,5.5-0.9,7.6h-39.6c1.2,8.3,7.8,12.8,16.5,12.8c6.7,0,12.3-2.4,15.5-5L304.6,98.6z
													 M268.1,71.6h27c0.1-6.7-4.5-12-12.6-12C274.1,59.6,269.6,64.4,268.1,71.6z"></path>
												<path fill="#00ADEF" d="M316.9,49.2h14v5.4c2.6-3.5,6-6.3,12.6-6.3c4.5,0,6.7,0.7,8.5,2.1l-5,13.2c-2.7-1.6-4.1-2.1-7.1-2.1
													c-4.9,0-7.4,2.7-9,5.9v36.8h-14V49.2z"></path>
											</g>
										</g>
									</g>
								</switch>
							</svg>
                        </div>
                        <a style="margin-top: 20px;" target="_blank" class="download_ios_btn" href="https://itunes.apple.com/ru/app/slider-presentations/id1094192266?l=en">
                                <img id="ios_img" src="/static/homepage/images/download_ios.svg" alt="">
                            </a>
                    </div>
                    <div class="col-md-6">
                        <div class="content_footer_container"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="social_footer"><span class="all_rights">All rights reserved © 2018</span> <br>
                            Email: support@slider.pw<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76725937-4', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(37547930, "init", {
        id:37547930,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37547930" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Yandex.Metrika counter -->