<script src="/static/homepage/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/homepage/libs/jquery/jquery.listen.js"></script>
<script src="/static/homepage/pages/main.js"></script>