<div class="container">
    <div class="col-md-12 start_pres_cont">
        <button class="start_btn">
            <img class="start_btn_img" src="/static/images/start_btn.svg" alt="">
        </button>
        <div class="start_test_cont">Tap + to start presentation</div>
    </div>
</div>