<div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Upload template</h5>
                            
                        <form action="/admin/templates/add_in_dashboard" method="post" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input name="template_file" type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02">Select pptx file</label>
                                </div>
                                
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input  name="cover_img" type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02">Select template preview cover image</label>
                                </div>
                                
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Template name</span>
                                </div>
                                <input name="name" type="text" class="form-control">
                                
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description</span>
                                </div>
                                <textarea maxlength="230" name="template_description" class="form-control" aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 81px;"></textarea>
                            </div>

                            <input style="float: right;margin-top: 20px;" value="ЗАГРУЗИТЬ" type="submit" class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split top-right-button top-right-button-single"  aria-haspopup="true" aria-expanded="false">
                        </form>

                            

                            


                        </div>
                    </div>