<link rel="stylesheet" href="/static/src/css/vendor/cropper.min.css" />
                        <div class="tab-pane active show" id="first" role="tabpanel" aria-labelledby="first-tab">
                            <div class="row">
                                <div class="col-lg-3 col-12 mb-3">
                                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Slides</h5>

                            <div id="{{ placeholders[0]['template_id'] }}" class="scroll dashboard-list-with-user ps ps--active-y slide_list " style="overflow-y: scroll !important;">

                                {% for placeholder in placeholders %} 
                                

                                <div class="card">
                                    <div class="position-relative">
                                        {% if placeholder['index'] == 1: %} 

                                                <a id="slide_{{ placeholder['index'] }}" href="#" class="slide_card active">
                                        {% else %}
                                                <a id="slide_{{ placeholder['index'] }}" href="#" class="slide_card">

                                        {% endif %}
                                        
                                            <img id="slide_{{ placeholder['index'] }}" class="card-img-top slide_card" src="https://slider.pw/api/presentation/4691520619806720/image?slide=0" alt="Card image cap"></a>
                                        
                                    </div>
                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>  
                            </div>

                            <div class="col-12 col-lg-9">



{% for placeholder in placeholders %} 

    {% if placeholder['index'] == 1: %} 

            <div id="slide_content_{{placeholder['index']}}" class="row slide_content_row">
    {% else %}
            <div id="slide_content_{{placeholder['index']}}" class="row slide_content_row" hidden>

    {% endif %}
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Edit slide {{placeholder['index']}}</h5>
                            <div class="input-group" style="opacity: 0;">
                                <div class="input-group-prepend" style="height: 0;">
                                    <span class="input-group-text" style="padding-top: 0;">Edit presentation here</span>
                                </div>
                                <textarea class="form-control" aria-label="Название компании" style="margin-top: 0px;margin-bottom: 0px;height: 0px;padding-top: 0;padding-bottom: 0;"></textarea>
                            </div>

                            {% for slide_container in placeholder['slide_container'] %} 
                            
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{slide_container}}</span>
                                </div>
                                <textarea class="form-control text_input_{{placeholder['index']}}" aria-label="{{slide_container}}"></textarea>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

{% endfor %}


<!-- <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Add image</h5>
                            <label class="btn btn-outline-primary btn-upload" for="inputImage" title="Upload image file">
                                <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                Select File
                            </label>
                            <div class="row">
                                <div class="col-7">
                                    <div id="cropperContainer">
                                        <img id="cropperImage" alt="Cropper Image" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="cropper-preview"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div> -->


                    <script src="/static/src/js/vendor/cropper.min.js"></script>
                    <script src="/static/homepage/pages/edit_presentation.js"></script>

