<div class="container">
    <div class="col-md-12 start_pres_cont">
        <div class="start_btn">
            <img class="start_btn_img" src="/static/images/generating_icon.svg" alt="">
        </div>

    </div>
</div>