<div class="container">
    <div class="col-md-12 insert_text_class">

        <div class="start_test_cont">Insert your content here</div>
        <textarea class="pres_content_box" name="pres_content" id="" cols="30" rows="10"></textarea>
        <button id="submit_text" class="submit_content_btn">Select template</button>

    </div>
</div>