        {% for presentation in presentations %} 
                <div class="col-xl-4 col-lg-4 col-12 col-sm-6 mb-4">
                    <div class="card">
                        <div class="position-relative">
                            <a href="{{'/api/presentation/{0}/file'.format(presentation['id']) }}"><img class="card-img-top" src="{{'/api/presentation/{0}/image?slide=0'.format(presentation['id']) }}" alt="Card image cap"></a>
                            <!-- <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">NEW</span> -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-12">
                                    <a href="{{'/api/presentation/{0}/file'.format(presentation['id']) }}">
                                        <p style="margin-bottom: 0 !important;" class="list-item-heading mb-4">{{ presentation['name'] }}</p>
                                    </a>
                                    <footer>
                                        <!-- <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p> -->
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="col-12">
                    <nav class="mt-4 mb-3">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item ">
                                <a class="page-link first" href="#">
                                    <i class="simple-icon-control-start"></i>
                                </a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link prev" href="#">
                                    <i class="simple-icon-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link next" href="#" aria-label="Next">
                                    <i class="simple-icon-arrow-right"></i>
                                </a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link last" href="#">
                                    <i class="simple-icon-control-end"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>