<div class="container">
    <div class="col-md-12 start_pres_cont">
        <div class="start_btn">
            <img class="start_btn_img" src="/static/images/save_icon.svg" alt="">
        </div>
        <div class="save_div"><a href="{{ '/presentation/get?pres_id={0}'.format(pres_id) }}" target="_blank"
                                 class="submit_content_btn">Save</a></div>
    </div>
</div>