<div class="col-md-12">
    <div style="margin: 50px 0;" class="col-md-12 ">

        <div class="row">
            <div class="col-md-12">
                <h2 class="start_test_cont">Select a template</h2>
            </div>
            <!-- <div class="col-md-4">
                <button  id="submit_template" class="submit_content_btn">Generate</button>
            </div> -->
        </div>
        
        <!-- <div class="templates_block" id=""> -->
            <div class="row">
            {% for template in templates %} 
            
            {% if template['index'] % 3 == 0: %} 
            </div>
            <div class="row">
            {% endif %}
            <div class="template_cont col-md-4">
                <button class="template_img_cont select_template" id="{{ template['id'] }}">
                    <div class="chosen_block">Click again <br> to generate</div>
                    <img id="{{'img/{0}'.format(template['id'])}}" class="template_img select_template"
                         src="{{'/api/templates/{0}/image'.format(template['id']) }}"
                         alt="">
                </button>
            </div>
            {% endfor %}
            </div>
        <!-- </div> -->
        

    </div>
</div>


