<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard - SliderBot</title>

    {% include '/homepage/head_new.html' %}


</head>

<body id="app-container" class="menu-default show-spinner">

 {% include '/homepage/header_dashboard.html' %}

    <div class="sidebar">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="#start">
                            <i class="iconsmind-Photo-Album"></i>
                            <span>Presentations</span>
                        </a>

                    </li>
                    <li>
                        <a href="#layouts">
                            <i class="iconsmind-Digital-Drawing"></i> Templates
                        </a>
                    </li>
                    <li>
                        <a href="#integration">
                            <i class="iconsmind-Three-ArrowFork"></i> Integrations
                        </a>
                    </li>
                    <li>
                        <a href="#licenes">
                            <i class="iconsmind-Diamond"></i> Licenes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu">
            <div class="scroll">
                <ul class="list-unstyled sub_menu" data-link="start">
                    <li class="active">
                        <a id="my_presentations" href="#">
                            <i class="simple-icon-grid"></i> My presentations
                        </a>
                    </li>
                    <li>
                        <a id="create_presentation" href="#">
                            <i class="simple-icon-plus"></i> Create
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled sub_menu" data-link="layouts">
                    <li >
                        <a id="my_templates" href="">
                            <i class="simple-icon-layers"></i> My templates
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-basket-loaded"></i> Slider templates
                        </a>
                    </li>
                    <li>
                        <a id="add_template" href="">
                            <i class="simple-icon-plus"></i> Add template
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled sub_menu" data-link="integration">
                    <li>
                        <a href="">
                            <i class="simple-icon-organization"></i> My integrations
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-globe"></i> Wiki
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-plus"></i> Add integration
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled sub_menu" data-link="licenes">
                    <li>
                        <a href="">
                            <i class="simple-icon-briefcase"></i> Current license
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-equalizer"></i> Switch license
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-people"></i> Team
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-user-follow"></i> Add member
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>








    <main>
        <div id="dashboard_cont" class="container-fluid disable-text-selection ">




        </div>
    </main>








    {% include '/homepage/footer_new.html' %}

</body>

</html>