<!DOCTYPE html>
<html>
<head>
    {% include '/homepage/head.html' %}
</head>
<body>
{% include '/homepage/header_dark.html' %}
<section class="form_section">
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form_cont">
            
                <label class="reset_pass_h1 form_inp">Reset forgotten password</label>
                <label class="reset_pass_h2 form_inp">Please provide your email used to register at Slider, and we will send you a link for new password.</label>
                <input id="email_restore_input" class="sign_forms form_inp" type="email" name="email" placeholder="Email"><br>
                <input id="send_email_restore" class="sign_btn form_inp" type="submit" value="Send"> <br>
                <span id="response" class="reset_pass_message error"></span>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
</section>

{% include '/footer.html' %}

{% include '/javascript.html' %}
<script src="/static/homepage/pages/forgot_pass.js"></script>
</body>
</html>