<!DOCTYPE html>
<html>
<head>
    {% include '/homepage/head.html' %}
</head>
<body>
{% include '/homepage/header_dark.html' %}
<section class="form_section">
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form_cont">
            {% if status == 'success'%}
                <!-- <form method="post"> -->

                    <label class="reset_pass_h1 form_inp">Enter new password</label>
                    <input class="form_inp" id="user_id" type="hidden" name="user_id" value="{{user_id}}">
                    <input class="form_inp" id="token" type="hidden" name="user_id" value="{{token}}">
                    <input id="new_password" class="sign_forms form_inp" type="password" name="new_password" placeholder="New password"><br>
                    <span id="response" class="reset_pass_message reset_pass_h1 error"></span>
                    <input id="sign_btn" class="sign_btn form_inp" type="submit" value="Set password">
                    <a id="sign_in_link_2" href="/sign_in">Sign in!</a>
                    
                <!-- </form> -->
                {% else %}
                <span class="reset_pass_message error"> Error accured. Please try again.</span><br>
                {% endif %}
            
            
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
</section>
{% include '/footer.html' %}

{% include '/javascript.html' %}
<script src="/static/homepage/pages/forgot_pass.js"></script>
</body>
</html>