<!DOCTYPE html>
<html>
<head>
    {% include '/homepage/head.html' %}
</head>
<body>
    {% include '/homepage/header_dark.html' %}
<section class="form_section">
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form_cont">
        
            <form method="post">
                <input class="sign_forms" type="email" name="email" placeholder="Email"><br>
                <input class="sign_forms" type="password" name="password" placeholder="Password"><br>
                <input class="sign_btn" type="submit" value="Sign in">
            </form>
            <div class="or_cont">
                <div class="or_text">or</div>
            </div>
            <div class="sign_up_link"><a href="http://slider.pw/sign_up">Create an account for free</a></div>

            <div class="sign_up_link"><a href="http://slider.pw/forgot">Forgot password?</a></div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
</section>

{% include '/footer.html' %}

{% include '/javascript.html' %}

</body>
</html>